/*Universal Selector */
* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

/*Element Selector */
p {
  color: blue;
}

/*Class Selector */
.highlight {
  background-color: yellow;
}

/*ID Selector */
#heading1 {
  color: red;
}

#heading2 {
  color: green;
}

#heading3 {
  color: purple;
}

.group,h4 {
  background-color: lightblue;
}

/*Descendant Selector */
.container p {
  font-size: 20px;
  color: darkgreen;
}

/*Child Selector */
.box > span {
  color: purple;
  font-weight: bold;
}

/*Attribute Selector*/
input[type="text"] {
  border: 2px solid blue;
}

input[type="email"] {
  border: 2px solid green;
}

input[type="password"] {
  border: 2px solid red;
}

/*Adjacent Sibling Selector*/
.adjacent h3 + p {
  color: orange;
  font-weight: bold;
}

/*General Sibling Selector  */
.siblings h3 ~ p {
  background-color: lightgray;
  color: brown;
}