/* navigations */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 15px;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  color: white;
  font-size: 18px;
}

/* Mobile */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

/* cards */
.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  background-color: aqua;
}

.allcards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card button {
    background-color: blue;
    padding: 10px;
    margin-top: 15px;
}

@media (max-width: 600px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }
}